.line {
	cursor: initial;

	&[data-odd="true"] {
		background-color: var(--mantine-color-body);
		border-radius: var(--mantine-radius-xs);
	}

	&:hover .timestamp {
		color: var(--mantine-color-bright) !important;
	}
}

.message {
	user-select: text;
	-webkit-user-select: text;
}