.line {
	cursor: initial;

	&:nth-child(odd) {
		background-color: var(--mantine-color-slate-7);
		border-radius: var(--mantine-radius-xs);

		@include light {
			background-color: var(--mantine-color-slate-0);
		}
	}

	&:hover .timestamp {
		color: var(--mantine-color-bright) !important;
	}
}

.message {
	user-select: text;
	-webkit-user-select: text;
}