.line {
	cursor: initial;
	position: relative;

	&:not([data-last="true"]) {
		border-bottom: 1px solid var(--mantine-color-obsidian-light);
	}

	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		transition: opacity 0.1s ease;
		opacity: 0;
		inset: 0;
	}

	&[data-severity="info"]::after {
		background-color: var(--mantine-color-obsidian-light);
	}

	&[data-severity="warning"]::after {
		background-color: var(--mantine-color-orange-light);
	}

	&[data-severity="error"]::after {
		background-color: var(--mantine-color-red-light);
	}

	&:hover::after {
		opacity: 0.5;
	}

	&:hover .timestamp {
		color: var(--mantine-color-bright) !important;
	}
}

.message {
	user-select: text;
	-webkit-user-select: text;
}