.content {
	position: relative;
	z-index: 0;
}

.glow {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: min(1300px, 100vw);
	height: 650px;
	z-index: 0;
}

.start-box {
	position: relative;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	outline: 1px solid transparent;
	transition: all 0.2s;

	@include light {
		background-color: rgba(255, 255, 255, 0.5);
	}

	&:hover {
		outline-color: rgba(255, 221, 251, 0.15);

		@include light {
			outline-color: rgba(139, 89, 139, 0.25);
		}
	}
}

.start-action {
	position: relative;
	overflow: hidden;
	height: 115px;

	.start-action-icon {
		transition: all 0.2s;
		color: var(--mantine-color-slate-5);
	}

	&:hover .start-action-icon {
		color: var(--mantine-color-bright) !important;
	}

	@include md-and-up {
		height: 135px;
	}
}

.start-resource {
	height: 82px;
}

.start-news-inner {
	flex-direction: column;

	@include xs-and-up {
		flex-direction: row;
	}
}

.start-news-thumbnail {
	flex-shrink: 0;
	background-size: cover;
	aspect-ratio: 200 / 110;

	@include xs-and-up {
		height: 110px;
	}
}

.cloud-image {
	display: none;

	@include sm-and-up {
		display: block;
	}
}