.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper {
	gap: 16px;
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.titlebar {
	height: 22px;
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: relative;
	z-index: 1;
}

.sidebar {
	z-index: 10;
	width: 74px;
	transition: all .15s ease-out;
	border-right: 1px solid transparent;

	&-expandable:hover {
		width: 230px;
		border-color: var(--mantine-color-slate-6);
	}

	&-wide {
		width: 215px;
	}

	:global(.mantine-ScrollArea-viewport) > div {
		display: unset !important;
	}
}