.root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.input {
	height: 40px;
	border: 2px solid var(--mantine-color-surreal-5);
	align-items: center;
	display: flex;
	flex: 1;
	gap: 8px;
	padding-left: 8px;
	user-select: none;
	cursor: pointer;
}

.content {
	flex-direction: row;
	flex: 1;
}

.panel {
	width: 100%;
	height: 100%;
}

.empty-image {
	filter: grayscale(100%) opacity(0.15);
}

.send-button {
	border-radius: 0;
	transform: none !important;
}
