.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.titlebar {
	height: 28px;
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: relative;
	z-index: 1;
}

.wrapper {
	gap: 16px;
	flex: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.input {
	height: 40px;
	border: 2px solid var(--mantine-color-surreal-5);
	align-items: center;
	display: flex;
	flex: 1;
	gap: 8px;
	padding-inline: 8px;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.input-with-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.content {
	flex: 1;
}

.panel {
	width: 100%;
	height: 100%;
}

.empty-image {
	opacity: 0.5;
}

.send-button {
	height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transform: none !important;
}

.start {
	overflow: hidden;
	overflow: clip;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
}

.primary-sphere, .secondary-sphere {
	pointer-events: none;
	aspect-ratio: 1;
	background-size: contain;
	background-repeat: no-repeat;
	transform: scale(1.4);
	position: fixed;
	z-index: -1;
}

.primary-sphere {
	transform-origin: top center;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
}

.secondary-sphere {
	width: 50vw;
	bottom: 0;
	left: 0;
	right: 0;
	margin-inline: auto;
	background-position: bottom;
	transform-origin: bottom center;
}

.start-box {
	box-shadow: 7px 7px 25px rgba(14, 14, 14, 0.3);
	background-color: var(--mantine-color-slate-9);
	border-radius: var(--mantine-radius-xl);
	transition: background-color 0.25s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	
	> div {
		background-size: cover;
		width: 100%;
		height: 100%;
		transition: transform .25s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}

	&:hover {
		background-color: var(--mantine-color-slate-8);
	}
}

.logo {
	position: absolute;
	margin-inline: auto;
	opacity: 0.5;
	width: 50vw;
	top: 12vw;
	right: 0;
	left: 0;
}

.palette-modal {
	background-color: hsla(240, 6%, 14%, 0.5);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

.palette-body {
	padding-bottom: 0;
}

.palette-input input {
	font-size: 1.15rem;
	background-color: unset !important;

	&::placeholder {
		color: var(--mantine-color-slate-4);
	}
}

.command {
	display: flex;
	height: 2.5rem;
	align-items: center;
	padding-inline: var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-md);
	gap: var(--mantine-spacing-md);

	.command-icon {
		color: var(--mantine-color-slate-3);
	}

	.command-label {
		color: var(--mantine-color-slate-0);
	}

	&[data-active="true"] {
		background-color: var(--mantine-color-slate-6);

		.command-icon, .command-label {
			color: white;
		}
	}
}

.changelog-content {
	ul, li {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 1px;
	}
}