.content-gutter {
	background-color: unset;
}

.content-dragger-vertical,
.content-dragger-horizontal {
	background-color: var(--dragger-color);
	width: 22px !important;
	height: 22px !important;
	position: absolute;
	border-radius: 100px !important;
	z-index: 1;
	
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		inset: 0;
		position: absolute;
		background-image: url(~/assets/dragger-horizontal.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 65%;
		opacity: var(--dragger-opacity);
	}	
}

.content-dragger-vertical::after {
	background-image: url(~/assets/dragger-vertical.svg);
	background-size: 36%;
	background-position: 7px;
}
