.scroller > div {
	width: 100%;
    table-layout: fixed;
}

.query {
	cursor: pointer !important;

	&.query-dragging {
		cursor: grabbing !important;
	}

	&:hover {
		.query-live {
			display: none;
		}
	
		.query-close {
			display: flex;
		}
	}
}

.query-close {
	display: none;
}