.navigation-box {
	outline: 1px solid transparent;
	color: var(--mantine-color-text);

	&:hover {
		outline-color: rgba(255, 221, 251, 0.15);

		@include light {
			outline-color: rgba(139, 89, 139, 0.25);
		}
	}
}