.root {
	pre {
		margin: 0;
		padding: 0;
		background-color: unset;
		tab-size: 4ch;
		user-select: text;
		-webkit-user-select: text;
		white-space: pre;
		word-break: normal;
	}

	&[data-wrapping] pre {
		white-space: pre-wrap;
		word-break: break-word;
	}
}

.copy {
	z-index: 1;
	opacity: 0;
	transition: opacity 0.1s ease-in;
	box-shadow: var(--mantine-shadow-md);
}

.root:hover .copy {
	opacity: 1;
}