.tile {
	aspect-ratio: 1;
	text-align: center;
	border-radius: var(--mantine-radius-lg);
	background-origin: border-box !important;
	border: 1px solid transparent;

	&:hover {
		background-image: var(--surrealist-gradient) !important;
		box-shadow: 0 6px 25px -4px rgba(186, 0, 171, 1), 0 3px 15px rgba(186, 0, 171, 0.5);
		border-color: rgba(255, 255, 255, 0.3);
		color: white !important;
	}
}