.root {
	z-index: 1;
}

.entry-button {

	:global(.mantine-Button-inner) {
		justify-content: space-between;
	}

	:global(.mantine-Button-rightIcon) {
		margin-left: auto;
		visibility: hidden;
	}

	:hover :global(.mantine-Button-rightIcon) {
		visibility: visible;
	}

}

.manage-button :global(.mantine-Button-inner) {
	justify-content: start;
}

.connection-options {
	display: none;
}

.connection:hover .connection-options {
	display: flex;
}