.palette-modal {
	background-color: hsla(240, 6%, 14%, 0.5);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}

.palette-body {
	padding-bottom: 0;
}

.palette-input input {
	font-size: 1.15rem;
	background-color: unset !important;

	&::placeholder {
		color: var(--mantine-color-slate-4);
	}
}

.command {
	display: flex;
	height: 2.5rem;
	align-items: center;
	padding-inline: var(--mantine-spacing-sm);
	border-radius: var(--mantine-radius-md);
	gap: var(--mantine-spacing-md);

	.command-icon {
		color: var(--mantine-color-slate-3);
	}

	.command-label {
		color: var(--mantine-color-slate-0);
	}

	&[data-active="true"] {
		background-color: var(--mantine-color-slate-6);

		.command-icon, .command-label {
			color: white;
		}
	}
}

.changelog-content {
	ul, li {
		margin-bottom: 0;
	}

	li {
		margin-bottom: 1px;
	}
}

.update-dialog {
	background-color: var(--mantine-color-slate-9);
	border: 1px solid var(--mantine-color-slate-6);
	transition-property: transform, opacity, background-color !important;
	cursor: pointer;

	&:hover {
		background-color: rgba(0, 0, 0, 0.4);
	}
}

.update-dialog-icon {
	width: 38px;
	height: 38px;
	background: var(--surrealist-gradient);
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-origin: border-box;
}