.connection-options {
	display: none;
}

.connection:hover .connection-options {
	display: flex;
}

.group {
	.group-remove {
		display: none;
		position: absolute;
		right: var(--mantine-spacing-xl);
	}

	&:hover .group-remove {
		display: block;
	}
}