.input {
	background: none;
	border: none;
	font-weight: inherit;
	font-size: inherit;
	text-transform: inherit;
	font-family: inherit;
	color: inherit;
	outline: none;
}

.sizer {
	white-space: pre;
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	user-select: none;
} 