.sidekick-input textarea {
	background-color: unset;
	font-size: var(--mantine-font-size-lg);
}

.sidekick-message {
	// user-select: text;
	// -webkit-user-select: text;

	// li {
	// 	margin-bottom: var(--mantine-spacing-lg);
	// }

	:global(.mantine-ActionIcon-root) {
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	&:hover :global(.mantine-ActionIcon-root) {
		opacity: 1;
	}

	pre {
		padding: var(--mantine-spacing-md);
		border: 1px solid var(--surrealist-divider-color);
	}

	code {
		padding: var(--mantine-spacing-xs);
		font-size: var(--mantine-font-size-sm);
	}
}

.history-panel {
	background-color: var(--mantine-color-body);
	background-color: rgba(from var(--mantine-color-body) r g b / 0.8);
	backdrop-filter: blur(10px);
}