.start {
	overflow: hidden;
	overflow: clip;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	background-color: var(--mantine-color-slate-9);

	@include light {
		background-color: var(--mantine-color-slate-1);
	}
}

.titlebar {
	height: 22px;
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: relative;
	z-index: 10;
	width: 100%;
}

.logo {
	height: 24px;
	position: fi;
}

.start-box {
	box-shadow: 7px 7px 25px rgba(14, 14, 14, 0.3);
	background-color: var(--mantine-color-slate-8);
	border-radius: var(--mantine-radius-xl);
	transition: background-color 0.25s ease-in-out;
	background-origin: border-box;
	position: relative;
	overflow: hidden;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		border: 1px solid rgba(255, 255, 255, 0.05);
		border-radius: var(--mantine-radius-xl);
		pointer-events: none;
	}
	
	> div {
		background-origin: border-box;
		background-size: cover;
		width: 100%;
		height: 100%;
		transition: transform .25s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}

	&:hover {
		background-color: var(--mantine-color-slate-7);
	}

	@include light {
		background-color: var(--mantine-color-white);
		box-shadow: 7px 7px 25px rgba(25, 27, 66, 0.15);

		&:hover {
			background-color: var(--mantine-color-slate-0);
		}
	}
}

.cloud-box::after {
	border: 1px solid rgba(255, 255, 255, 0.15);
}