.start {
	overflow: hidden;
	overflow: clip;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	background-color: var(--mantine-color-slate-9);

	@include light {
		background-color: var(--mantine-color-slate-1);
	}
}

.titlebar {
	height: 22px;
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: relative;
	z-index: 10;
	width: 100%;
}

.glow {
	pointer-events: none;
	aspect-ratio: 1;
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1;
	transform-origin: top center;
	width: 65vw;
	top: 0;
	left: 0;
	right: 0;
	margin-inline: auto;
}