.start {
	z-index: 0;
	background-color: var(--mantine-color-slate-9);

	@include light {
		background-color: var(--mantine-color-slate-1);
	}
}

.titlebar {
	height: 22px;
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: relative;
	z-index: 10;
	width: 100%;
}

.glow {
	pointer-events: none;
	aspect-ratio: 1;
	background-size: contain;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1;
	transform-origin: top center;
	width: 65vw;
	top: 0;
	left: 0;
	right: 0;
	margin-inline: auto;
}

.start-box {
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.075);

	@include light {
		background-color: rgba(255, 255, 255, 0.3);
		border-color: rgba(0, 0, 0, 0.15);
	}
}

.start-box-corner {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	opacity: 0;
	transition: opacity 0.2s;
}

.start-action {
	aspect-ratio: 1;
	position: relative;
	overflow: hidden;

	.start-action-icon {
		transition: color 0.2s;
		color: var(--mantine-color-slate-5);
	}

	&:hover .start-action-icon {
		color: var(--mantine-color-bright) !important;
	}

	&:hover .start-box-corner {
		opacity: 1;
	}
}