.topic {
	transition: none !important;

	&:not(:hover) :global(.mantine-Button-label) {
		color: var(--mantine-color-obsidian-1);
		font-weight: normal;
	}

	&:hover :global(.mantine-Button-label) {
		font-weight: normal;
	}

}