.provision-box {
	border-radius: 100%;
}

.provision-loader::after {
	border: solid 16px transparent;
	background-image: var(--surreal-gradient);
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation-duration: 0.75s;
}

.provision-icon {
	z-index: 0;
	width: 68px;
	height: 68px;
	transform: translateY(1px);
}

.content {
	position: relative;
	z-index: 0;
}

.hostname-entry {
	background-color: var(--surreal-glass-subtle);
	border: 1px solid var(--surreal-glass-subtle);
	outline-offset: 0;
	outline: 2px solid transparent;
}