.table {
	transition: all .1s;
}

.table-active {
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 12px 15px -10px rgba(0, 0, 0, 0.5);

	:root[data-mantine-color-scheme="light"] & {
		box-shadow: unset;
	}
}

.viewport > div {
	display: unset !important;
}

.pin-button {
	cursor: pointer;
	margin-right: 0.75rem;
	flex-shrink: 0;
}