.table-entry {
	position: relative;
	cursor: pointer;
}

.table-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 0.25rem;
	user-select: none;
}

.viewport > div {
	display: unset !important;
}

.pin-button {
	cursor: pointer;
	margin-right: 0.75rem;
	flex-shrink: 0;
}