.scroll-area :global(.mantine-ScrollArea-viewport)>div {
	display: block !important;
}

.organization-box {
	position: relative;
	overflow: hidden;
	background-color: var(--surrealist-faint-body);
	outline: 1px solid transparent;
	height: 112px;
	display: flex;
	flex-direction: column;

	@include light {
		background-color: rgba(255, 255, 255, 0.5);
		outline-color: hsl(300, 15%, 88%);
	}

	&:hover {
		outline-color: rgba(255, 221, 251, 0.15);

		@include light {
			outline-color: rgba(139, 89, 139, 0.25);
		}
	}
}