$sidebar-thin: 74px;
$sidebar-wide: 250px;

.root {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(from var(--mantine-color-obsidian-8) r g b / 0.25);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background-image: var(--bg-image);
		background-position: cover;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: var(--bg-opacity);
		z-index: 0;
	}
}

.wrapper {
	gap: 16px;
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	@include md-and-up {
		transition: margin-left .15s ease-out;

		&[data-sidebar-mode="wide"] {
			margin-left: $sidebar-wide;
		}

		&[data-sidebar-mode="compact"] {
			margin-left: $sidebar-thin;
		}
	}
}

.titlebar {
	user-select: none;
	cursor: default;
	color: var(--mantine-color-bright);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 32px;
	z-index: 10000;

	@include md-and-up {
		padding-left: var(--sidebar-offset) !important;
	}
}

.toolbar {
	z-index: 1;
	padding: var(--mantine-spacing-md);

	@include md-and-up {
		padding-left: 0;
	}
}

.sidebar {
	z-index: 10;
	transition: all .15s ease-out;
	width: $sidebar-wide;

	&-fill {
		width: 100%;
	}

	&-collapsed {
		width: $sidebar-thin;
	}

	:global(.mantine-ScrollArea-viewport)>div {
		display: unset !important;
	}
}

.sidebar-inner {
	padding-top: calc(22px + var(--titlebar-offset));
	height: 100%;
}

.logo {
	&-hat {
		z-index: 1;
		transition: all 0.2s ease;
	}

	&:is(:hover, :focus) &-hat {
		filter: brightness(1.2);
		transform: translateY(-1px);
	}

	&:active &-hat {
		filter: brightness(0.9);
		transform: translateY(0);
	}

	&-hat[data-greet] {
		transform: translateY(-12px) translateX(-6px) rotate(-25deg) scale(0.6) !important;
	}
}

.page-content {
	padding-top: calc(68px + var(--titlebar-offset));
}

.page-content-inner {
	background-color: color-mix(in srgb, var(--mantine-color-obsidian-9) 75%, transparent);
	border-top: 1px solid var(--mantine-color-obsidian-7);
	overflow: hidden;

	@include md-and-up {
		border-top-left-radius: var(--mantine-radius-md);
		border-left: 1px solid var(--mantine-color-obsidian-7);
	}
}