.scroller>div {
	width: 100%;
	table-layout: fixed;
}

.accordion {
	:global(.mantine-Accordion-item) {
		background-color: unset;
		border: none;
	}

	:global(.mantine-Accordion-control) {
		background-color: var(--mantine-color-obsidian-7);
		border-radius: var(--mantine-radius-md);

		@include light {
			background-color: var(--mantine-color-obsidian-0);
		}
	}

	:global(.mantine-Accordion-panel) {
		padding-top: 0.5rem;
	}
}

.accordion-label {
	color: var(--mantine-color-bright);
}