.search {
	flex: 1;

	@include xs-and-up {
		max-width: 350px;
	}
}

.table {
	-webkit-user-select: text;
	user-select: text;

	th {
		color: var(--mantine-color-bright);
		text-align: start;
		position: sticky;
		z-index: 1;
		top: 0;
	}

	thead tr {
		border: none;
	}

	tbody tr {
		border: none;
	}

	tbody tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.05);

		@include light {
			background-color: rgba(0, 0, 0, 0.025);
		}
	}

}

.lang-switcher {
	background-color: unset;

	:global(.mantine-SegmentedControl-label) {
		background-color: unset;
		font-size: var(--mantine-font-size-md);
		transition-duration: .15s !important;
		
		&[data-active] {
			color: white;
		}
	}
	
	:global(.mantine-SegmentedControl-indicator) {
		background: var(--surrealist-gradient);
		background-origin: border-box;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.first-instance {
	transition: background-color 0.3s;

	svg {
		transition: color 0.3s;
	}

	&:hover {
		background-color: var(--mantine-color-slate-7) !important;

		svg {
			color: var(--mantine-color-bright) !important;
		}
	}
}