.table {
	-webkit-user-select: text;
	user-select: text;

	th {
		color: var(--mantine-color-bright);
		text-align: start;
		position: sticky;
		z-index: 1;
		top: 0;
	}

	thead tr {
		border: none;
	}

	tbody tr {
		border: none;
	}

	tbody tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.05);

		@include light {
			background-color: rgba(0, 0, 0, 0.025);
		}
	}

}

.provision-box {
	border-radius: 50%;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.provision-loader::after {
	border: solid 6px transparent;
	background-image: linear-gradient(var(--mantine-color-body), var(--mantine-color-body)),  var(--surrealist-gradient);
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation-duration: 0.75s;
}

.provision-icon {
	z-index: 0;
	width: 86px;
	height: 86px;
}

.lang-switcher {
	background-color: unset;

	:global(.mantine-SegmentedControl-label) {
		background-color: unset;
		font-size: var(--mantine-font-size-md);
		transition-duration: .15s !important;
		
		&[data-active] {
			color: white;
		}
	}
	
	:global(.mantine-SegmentedControl-indicator) {
		background: var(--surrealist-gradient);
		background-origin: border-box;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}
}

.first-instance {
	transition: background-color 0.3s;

	svg {
		transition: color 0.3s;
	}

	&:hover {
		background-color: var(--mantine-color-slate-7) !important;

		svg {
			color: var(--mantine-color-bright) !important;
		}
	}
}