.list-switcher {
	height: 30px;
	background: unset;
	padding: 0;

	:global(.mantine-SegmentedControl-label) {
		background-color: unset;
		padding-inline: var(--mantine-spacing-lg);
		height: 30px;
		margin: 0;
		display: flex;
		align-items: center;
	}
	
	:global(.mantine-SegmentedControl-control)::before {
		content: none;
	}
}

.table {
	-webkit-user-select: text;
	user-select: text;

	th {
		color: var(--mantine-color-bright);
		text-align: start;
		position: sticky;
		z-index: 1;
		top: 0;
	}

	thead tr {
		border: none;
	}

	tbody tr {
		border: none;
	}

	tbody tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.05);

		@include light {
			background-color: rgba(0, 0, 0, 0.025);
		}
	}

}