.card {

	&:hover :global(.mantine-Paper-root),
	&[data-selected] :global(.mantine-Paper-root) {
		background-color: var(--mantine-color-slate-7);
	}

	:global(.mantine-Paper-root) {
		border-color: transparent;
	}

	&[data-selected] :global(.mantine-Paper-root) {
		border-color: var(--mantine-color-surreal-6);
	}
}