.table-container {
	position: relative;
	height: 100%;
}

.table-wrapper {
	position: absolute;
	inset: 12;
	top: 0;
	height: 100%;
	width: 100%;
}

.table {
	user-select: text;

	th:not(:first-child) {
		text-align: right;
	}

	td:not(:first-child) {
		text-align: right;
	}
}

.table-value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 250px;
}