.content {
	position: relative;
	z-index: 0;
}

.organisation-name {
	+svg {
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover+svg {
		opacity: 1;
	}
}

.start-box {
	position: relative;
	overflow: hidden;
	background-color: var(--surrealist-faint-body);
	outline: 1px solid transparent;
	// transition: all 0.2s;

	@include light {
		background-color: rgba(255, 255, 255, 0.5);
		outline-color: hsl(300, 15%, 88%);
	}

	&:hover {
		outline-color: rgba(255, 221, 251, 0.15);

		@include light {
			outline-color: rgba(139, 89, 139, 0.25);
		}
	}
}

.start-creator {
	background-color: hsla(255, 25%, 6%, 0.6);

	@include light {
		background-color: hsla(240, 11%, 96%, 0.6);
	}
}

.start-creator,
.start-connection,
.start-instance,
.start-placeholder {
	height: 112px;
	display: flex;
	flex-direction: column;
}

.start-blog-arrow,
.start-cloud-arrow {
	transition: transform 0.2s;
	transform: scaleX(-1);
}

.start-cloud {
	position: relative;
	overflow: hidden;

	.start-cloud-icon {
		color: var(--mantine-color-slate-5);

		@include md-and-up {
			display: none;
		}
	}

	&:hover .start-cloud-icon {
		color: var(--mantine-color-bright) !important;
	}

	&:hover .start-cloud-arrow {
		transform: scaleX(-1) translateX(-0.25rem);
	}
}

.start-resource {
	height: 82px;
}

.start-blog-header {
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(to bottom, transparent, var(--mantine-color-body)), var(--image-url);
}

.start-blog:hover .start-blog-arrow {
	transform: scaleX(-1) translateX(-0.25rem);
}

.cloud-image {
	width: 500px;
	position: absolute;
	right: -64px;
	bottom: 0;
	display: none;

	@include md-and-up {
		display: block;
	}
}