html,
body,
#root {
	height: 100%;
	overscroll-behavior: none;
	padding: 0;
	margin: 0;
}

body {
	font-weight: 500;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

input,
textarea,
*[contenteditable] {
	user-select: text;
	-webkit-user-select: text;
}

pre,
code {
	font-size: inherit;
	background-color: var(--mantine-color-slate-7);

	@include light {
		background-color: var(--mantine-color-slate-0);
	}
}

code {
	font-size: var(--mantine-font-size-sm);
}