html, body, #root {
    height: 100%;
}

body {
    font-weight: 500;
    user-select: none;
}

/* --- Overrides --- */

.__dbk__container {
    overflow: visible;
}

.mantine-ScrollArea-viewport > div {
    display: unset !important;
}

.mantine-contextmenu {
    background-color: color-mix(in srgb, var(--mantine-color-body) 50%, transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mantine-contextmenu-item-button > div:not(.mantine-contextmenu-item-button-title) {
    font-size: 0.75rem !important;
}

.mantine-ActionIcon-root:hover {
    --ai-hover-color: white;
}

.mantine-Popover-dropdown {
    background-color: color-mix(in srgb, var(--mantine-color-body) 90%, transparent);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mantine-Tabs-tab[data-active] {
    border-color: unset;
    border-image-slice: 1;
    border-image-source: var(--surrealist-gradient);
}

.mantine-Checkbox-root {

    .mantine-Checkbox-input {
        background-color: var(--mantine-color-body);
    }

    &[data-checked] .mantine-Checkbox-input {
        background: var(--surrealist-gradient);
        background-origin: border-box;
        border-color: rgba(255, 255, 255, 0.3);
    }
}

.mantine-Radio-root {
    
    &[data-checked] .mantine-Radio-radio {
        background: var(--surrealist-gradient);
        background-origin: border-box;
        border-color: rgba(255, 255, 255, 0.3);
    }

}

.mantine-Input-input {
    transition: all .2s;
    background-color: var(--mantine-color-body);
    
    &:not(:focus-within):not([data-variant="unstyled"]) {
        border-color: var(--mantine-color-slate-5);
    }

    &:focus-within {
        background-color: var(--mantine-color-slate-7);

        @include light {
            background-color: var(--mantine-color-slate-0);
        }
    }
}

.mantine-Select-input {
    transition: all .2s;
    background-color: var(--mantine-color-slate-6);

    &:focus-within {
        background-color: var(--mantine-color-slate-6);
    }

    @include light {
        background-color: var(--mantine-color-slate-0);
    }
}

.mantine-Select-option:hover {
    background-color: rgba(255, 255, 255, 0.1);

    @include light {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.mantine-Slider-bar {
    background: var(--surrealist-gradient);
}

.mantine-Slider-mark {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: transparent;
}

/* --- Variables --- */

:root {
    --surrealist-divider-size: 10px;
    --surrealist-gradient: linear-gradient(110deg, var(--mantine-color-surreal-filled) 0%, #9600FF 100%);
}

:root[data-mantine-color-scheme="light"] {
    --surrealist-divider-color: var(--mantine-color-slate-0);
    --surrealist-tooltip-bg: rgba(0, 0, 0, 0.4);

    --mantine-color-body: var(--mantine-color-white);   
}

:root[data-mantine-color-scheme="dark"] {
    --surrealist-divider-color: var(--mantine-color-slate-9);
    --surrealist-tooltip-bg: rgba(255, 255, 255, 0.4);
    
    --mantine-color-body: var(--mantine-color-slate-8);
}