:root {
	--surreal-focus-outline: color-mix(in srgb, var(--mantine-color-violet-3) 75%, var(--surreal-glass-subtle));
	--surreal-focus-background: color-mix(in srgb, var(--mantine-color-violet-3) 7%, var(--surreal-glass-subtle));
	--surreal-gradient: linear-gradient(135deg, var(--surreal-energy), var(--surreal-passion));
	--surrealist-divider-size: 0.75rem;
}

:root[data-mantine-color-scheme="light"] {
	--surrealist-glow: 0 3px 15px rgba(136, 0, 186, 0.5);
	--mantine-color-body: var(--mantine-color-obsidian-1);
}

:root[data-mantine-color-scheme="dark"] {
	--surrealist-glow: 0 3px 20px -4px rgb(74, 0, 186), 0 3px 15px rgba(186, 0, 171, 0.5);
	--mantine-color-body: var(--mantine-color-obsidian-9);
}

.mantine-Button-section {
	padding-inline: 0.1rem;
}

.mantine-Menu-item[data-variant="gradient"] {
	background: var(--surreal-gradient);
}