.mantine-Paper-root[data-variant=gradient],
.mantine-Paper-root[data-variant=interactive] {
	background: linear-gradient(var(--mantine-color-slate-7), var(--mantine-color-body));

	@include light {
		background: linear-gradient(var(--mantine-color-body), var(--mantine-color-slate-0));
		background: linear-gradient(var(--mantine-color-body), rgb(from var(--mantine-color-slate-0) r g b / 0.5));
	}

}

.mantine-Paper-root[data-variant=interactive] {
	transition: all 0.2s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.01);
		box-shadow: var(--mantine-shadow-sm) !important;
		border-color: var(--mantine-color-slate-5) !important;

		@include light {
			border-color: var(--mantine-color-slate-2) !important;
		}

		&::before {
			opacity: 0;
		}
	}
}