.mantine-Paper-root[data-variant=gradient],
.mantine-Paper-root[data-variant=interactive],
.mantine-Paper-root[data-variant=selected] {
	background: linear-gradient(var(--mantine-color-obsidian-7), var(--mantine-color-obsidian-9));

	@include light {
		background: linear-gradient(var(--mantine-color-body), var(--mantine-color-obsidian-0));
	}

}

.mantine-Paper-root[data-variant=disabled] {
	cursor: not-allowed;
	opacity: 0.70;
}

.mantine-Paper-root[data-variant=interactive] {
	transition: all 0.2s ease;
	cursor: pointer;

	&:hover {
		transform: scale(1.01);
		box-shadow: var(--mantine-shadow-sm) !important;
		border-color: rgba(119, 18, 18, 0.15) !important;

		@include light {
			border-color: var(--mantine-color-obsidian-2) !important;
		}
	}
}

.mantine-Paper-root[data-variant=selected] {
	transition: all 0.2s ease;
	transform: scale(1.01);
	box-shadow: var(--mantine-shadow-sm) !important;
	border-color: rgba(255, 255, 255, 0.15) !important;
	outline: 2px solid var(--mantine-color-surreal-6);
	box-shadow: 0 5px 35px 0 rgb(from var(--mantine-color-surreal-6) r g b / 0.25) !important;
	cursor: pointer;

	@include light {
		border-color: var(--mantine-color-obsidian-2) !important;
	}
}