.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.input {
	height: 40px;
	border: 2px solid var(--mantine-color-surreal-5);
	border-radius: 8px 0px 0px 8px;
	border-right: none;
	align-items: center;
	display: flex;
	width: 100%;
	gap: 8px;
	padding-left: 8px;
	padding-right: 8px;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.input-no-button {
	border: 2px solid var(--mantine-color-surreal-5);
	border-radius: 8px 8px 8px 8px;
}

.inputBar {
	display: flex;
	flex: 1;
}

.content {
	flex-direction: row;
	flex: 1;
}

.panel {
	width: 100%;
	height: 100%;
}

.empty-image {
	filter: grayscale(100%) opacity(0.15);
}

.send-button {
	height: 40px;
	transform: none !important;
	border-radius: 0px 8px 8px 0px;
	border: 2px solid var(--mantine-color-surreal-5);
	border-left: none;
	margin: 0;
}

.view-mode-button {
	align-content: start;
}

.view-mode-content {
	background-color: unset !important;
}