.root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.input-wrapper {
	flex: 1;
	gap: 0;
}

.input {
	height: 40px;
	border: 2px solid var(--mantine-color-surreal-5);
	align-items: center;
	display: flex;
	flex: 1;
	gap: 8px;
	padding-inline: 8px;
	user-select: none;
	cursor: pointer;
}

.input-with-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.content {
	flex-direction: row;
	flex: 1;
}

.panel {
	width: 100%;
	height: 100%;
}

.empty-image {
	filter: grayscale(100%) opacity(0.15);
}

.send-button {
	height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transform: none !important;
}

.view-mode-button {
	align-content: start;
}

.view-mode-content {
	background-color: unset !important;
}