.table-container {
	height: 100%;
}

.table-wrapper {
	position: absolute !important;
	inset: 12;
	top: 0;
	height: 100%;
	width: 100%;
}

.table {
	user-select: text;

	th {
		position: sticky;
		top: 0;
	}

	th > *, td > * {
		padding-inline: 24px;
	}

	th:first-child > *, td:first-child > * {
		padding-inline-start: 0;
	}

	th:last-child > *, td:last-child > * {
		padding-inline-end: 0;
	}
}

.table-value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}