.root {
	position: absolute;
	inset: 0;
}

.table {
	-webkit-user-select: text;
	user-select: text;

	th {
		background-color: var(--surreal-paper-background-filled);
		color: var(--mantine-color-bright);
		text-align: start;
		position: sticky;
		top: 0;
	}

	tbody tr:nth-child(odd) td {
		background-color: var(--mantine-color-obsidian-7);

		&:first-child {
			border-top-left-radius: var(--mantine-radius-xs);
			border-bottom-left-radius: var(--mantine-radius-xs);
		}

		&:last-child {
			border-top-right-radius: var(--mantine-radius-xs);
			border-bottom-right-radius: var(--mantine-radius-xs);
		}

		@include light {
			background-color: var(--mantine-color-obsidian-0);
		}
	}

	th>*,
	td>* {
		padding-inline: 0.75rem !important;
	}

	th:first-child>*,
	td:first-child>* {
		padding-inline-start: 0;
	}

	th:last-child>*,
	td:last-child>* {
		padding-inline-end: 0;
	}
}

.table-value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.source-code {
	white-space: pre;
	tab-size: 24px;
}