.table-container::-webkit-scrollbar {
	background-color: transparent;
	width: 16px;
	height: 16px;
}

.table-container::-webkit-scrollbar-track {
	display: none;
}

// .table-container::-webkit-scrollbar-track-piece {}

.table-container::-webkit-scrollbar-corner {
	display: none;
}

/* set button(top and bottom of the scrollbar) */
.table-container::-webkit-scrollbar-button {
	display: none;
}

.table-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 6px solid #1a1b1e;
	color: green;
	background-color: rgba(160, 160, 160, 0.348);
}

// .table-container::-webkit-scrollbar-thumb:hover {}
