.help-tile, .help-row {
	border-radius: var(--mantine-radius-lg);
	background-origin: border-box !important;
	border: 1px solid transparent;

	&:hover {
		background-image: var(--surrealist-gradient) !important;
		box-shadow: var(--surrealist-glow);
		border-color: rgba(255, 255, 255, 0.3);
		
		* {
			color: white !important;
		}
	}
}

.help-tile {
	text-align: center;
	aspect-ratio: 1;
}

.help-row {
	height: 96px;
}