name: Push Docker

on:
  workflow_dispatch:

env:
  CLOUD_CLIENT_ID: OuFa4OeeKveeRq1G6xIPgrl6EBUJtxLR
  CLOUD_CALLBACK_URL: https://app.surrealdb.com/cloud/callback
  CLOUD_AUTH_BASE: https://auth.surrealdb.com
  CLOUD_API_BASE: https://api.cloud.surrealdb.com/api/v1
  CLOUD_API_TICKETS_BASE: https://nlsmye6spqokxdxevwqramvqri0dtbto.lambda-url.us-east-1.on.aws
  SURREALIST_WEBSITE_BASE: https://surrealdb.com
  SCOUT_COPILOT_ID: copilot_cm3gcpzxw00020cs66takkem5
  SCOUT_WORKFLOW_ID: wf_cm3gbr8vk00010ds6b1g0vnvv
  INTERCOM_APP_ID: xaac4vhr

jobs:
  version:
    name: Extract version
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup jq
        uses: dcarbone/install-jq-action@v2

      - name: Extract package version
        id: extract
        run: |
          echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"

  push_docker_image:
    name: Push Docker image to Docker Hub
    if: ${{ !github.event.release.prerelease }}
    runs-on: ubuntu-latest
    needs:
      - version
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          VITE_CLOUD_CLIENT_ID: ${{ env.CLOUD_CLIENT_ID }}
          VITE_CLOUD_CALLBACK_URL: ${{ env.CLOUD_CALLBACK_URL }}
          VITE_CLOUD_AUTH_BASE: ${{ env.CLOUD_AUTH_BASE }}
          VITE_CLOUD_API_BASE: ${{ env.CLOUD_API_BASE }}
          VITE_CLOUD_API_TICKETS_BASE: ${{ env.CLOUD_API_TICKETS_BASE }}
          VITE_SURREALIST_WEBSITE_BASE: ${{ env.SURREALIST_WEBSITE_BASE }}
          VITE_SCOUT_COPILOT_ID: ${{ env.SCOUT_COPILOT_ID }}
          VITE_SCOUT_WORKFLOW_ID: ${{ env.SCOUT_WORKFLOW_ID }}
          VITE_INTERCOM_APP_ID: ${{ env.INTERCOM_APP_ID }}
        with:
          push: true
          file: docker/Dockerfile
          tags: |
            surrealdb/surrealist:latest
            surrealdb/surrealist:${{ needs.version.outputs.version }}
